<p style="margin:0 0 16px">
    New review on product <strong><%= @review.product.name %></strong>.<br/>
    Author: <strong><%= @review.name %></strong>
</p>
<p style="margin:0 0 16px">Review: <br/> <%= @review.review %></p>